<div class="modal">
    <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
        <label>
            artist name:
            <input formControlName="artistName" type="text" />
        </label>
        <label>
            genres:
            <input formControlName="musicGenres" type="text" />
        </label>
        <label>
            integrants:
            <input formControlName="integrants" type="text" />
        </label>
        <label>
            website:
            <input formControlName="website" type="text" />
        </label>
        <label>
            image:
            <input formControlName="image" type="text" />
        </label>
        <button type="submit" [disabled]="!createForm.valid">Save</button>
        <button type="button" (click)="onCancel()">Close</button>
    </form>
</div>
