<mat-toolbar class="media-controls">
    <button mat-icon-button (click)="previousSong()">
        <mat-icon>skip_previous</mat-icon>
    </button>
    <button mat-icon-button (click)="playSong()">
        <mat-icon>{{ audio.paused ? "play_arrow" : "pause" }}</mat-icon>
    </button>
    <button mat-icon-button (click)="nextSong()">
        <mat-icon>skip_next</mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon>volume_up</mat-icon>
    </button>
    <mat-slider>
        <input matSliderThumb value="50" (input)="volumeSlider($event)" />
    </mat-slider>
    <button mat-icon-button (click)="randomSong()">
        <mat-icon [ngClass]="{ 'active': shuffleActive, 'inactive': !shuffleActive }">shuffle</mat-icon>
    </button>
</mat-toolbar>
