<mat-toolbar class="media-controls">
    <button mat-icon-button (click)="prevSong()">
        <mat-icon>skip_previous</mat-icon>
    </button>
    <button mat-icon-button (click)="playSong()">
        <mat-icon>{{ audio.paused ? "play_arrow" : "pause" }}</mat-icon>
    </button>
    <button mat-icon-button (click)="nextSong()">
        <mat-icon>skip_next</mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon>volume_up</mat-icon>
    </button>
    <mat-slider>
        <input matSliderThumb value="50" (input)="volumeSlider($event)" />
    </mat-slider>
</mat-toolbar>
