<div class="navigation-music">
    <nav class="navbar">
        <div class="sections">
            <button button class="nav-button">Albums</button>
            <button button class="nav-button">Songs</button>
        </div>
        <div class="navbar-action">
            <button class="nav-button" [matMenuTriggerFor]="menu">+</button>
            <mat-menu #menu="matMenu">
                <button (click)="openCreateModal('artist')" mat-menu-item>Crear artista</button>
                <button (click)="openCreateModal('song')" mat-menu-item>Crear cancion</button>
                <button (click)="openCreateModal('album')" mat-menu-item>Crear album</button>
            </mat-menu>
        </div>
    </nav>
</div>
