.navigation-music
    display: flex
    width: 100%

.navbar
    background-color: var(--primary-color)
    display: flex
    justify-content: space-between
    align-items: center
    padding: 10px
    width: 100%

.sections
    flex: 1
    display: flex
    justify-content: center
    align-content: space-around

.navbar-action
    background-color: var(--primary-color)
    color: var(--secondary-color)
    display: flex
    justify-content: flex-end

.nav-button
    background-color: var(--primary-text-color)
    color: var(--primary-color)
    border: none
    border-radius: 5px
    padding: 10px
    cursor: pointer

.options
    border: 3px solid orange
