.header-music
    background-color: var(--primary-color)
    color: var(--primary-text-color)
    display: flex
    width: 100%
    app-music-control,
    app-music-displayer
        flex: 1
        display: flex
        justify-content: center

   


