<div class="allArtists">
    <h2>All Artists</h2>
    <ul>
        <li *ngFor="let artist of artists | async">
          {{ artist.name }}
        </li>
    </ul>
</div>
<div class="allAlbums"></div>
    <h2>All Albums</h2>
    <ul>
        <li *ngFor="let album of Allalbums | async">
          {{ album.title }}
        </li>
    </ul>
<div class="allSongs"></div>
    <h2>All Songs</h2>
    <ul>
        <li *ngFor="let music of Allmusic | async">
          {{ music.title }}
        </li>
    </ul>
<div class="album">
    {{ (album | async)?.title || 'No album found' }}
</div>
<div class="song">
    {{ (music | async)?.title || 'No song found' }}
</div>