<div mat-dialog-content>
    <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
        <label>
            artist name:
            <input formControlName="artistName" type="text" />
        </label>
        <mat-form-field>
            <label>Input</label>
            <input matInput>
          </mat-form-field>
        <label>
            genres:
            <input formControlName="musicGenres" type="text" />
        </label>
        <label>
            integrants:
            <input formControlName="integrants" type="text" />
        </label>
        <label>
            website:
            <input formControlName="website" type="text" />
        </label>
        <label>
            image:
            <input formControlName="image" type="text" />
        </label>

        <div mat-dialog-actions>
            <!--<button mat-button (click)="save()">Save</button>-->
            <button type="submit" mat-button [disabled]="!createForm.valid">Save</button>
        </div>
    </form>
</div>
