<div mat-dialog-content>
    <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
        <div class="form">
            <label> Artist name: </label>
            <mat-form-field>
                <input matInput formControlName="name" type="text" />
            </mat-form-field>
            <label> Genres: </label>
            <mat-form-field>
                <input matInput formControlName="genre" type="text" />
            </mat-form-field>
            <label> Integrants: </label>
            <mat-form-field>
                <input matInput formControlName="members" type="text" />
            </mat-form-field>
            <label> Website: </label>
            <mat-form-field>
                <input matInput formControlName="webSite" type="text" />
            </mat-form-field>
            <label> Image: </label>
            <mat-form-field>
                <input matInput formControlName="imagePath" type="text" />
            </mat-form-field>
        </div>
        <div mat-dialog-actions>
            <button type="submit" mat-button [disabled]="!createForm.valid">
                Save
            </button>
            <button mat-button (click)="closeModal()">Close</button>
        </div>
    </form>
</div>
