*
    margin: 0px

.main-container
    display: flex
    flex-direction: column
    height: 97vh

.content-section
    display: flex
    flex-direction: row
    height: 100%

.navigation
    display: block
