<div class="media-player">
    <div class="media-image">
        <img
            class="artist-photo"
            [src]="currentSong.song.imagePath"
            alt="artist photo"
        />
    </div>

    <div class="media-section">
        <div class="media-info">
            <h5>{{ currentSong.song.genre }}</h5>
            <h5>{{ currentSong.song.title }} - {{ currentSong.song.duration }}</h5>
        </div>

        <mat-toolbar>
            <mat-slider class="slider-full" min="1" max="{{durationSong}}">
                <input matSliderThumb 
                value="{{ audio.readyState === 0 ? 0 : audio.currentTime }}"
                (input)="durationSlider($event)"
                />
            </mat-slider>
            <button mat-icon-button (click)="randomSong()">
                <mat-icon [ngClass]="{ 'active': shuffleActive, 'inactive': !shuffleActive }">shuffle</mat-icon>
            </button>
        </mat-toolbar>
    </div>
</div>
