<div class="media-player">
    <div class="media-image">
        <img
            class="artist-photo"
            [src]="currentSong.imagePath"
            alt="artist photo"
        />
    </div>

    <div class="media-section">
        <div class="media-info">
            <h5>{{ currentSong.genre }}</h5>
            <h5>{{ currentSong.title }} - {{ currentSong.duration }}</h5>
        </div>

        <mat-toolbar>
            <mat-slider class="slider-full" max="{{currentSong.duration}}">
                <input matSliderThumb 
                (input)="durationSlider($event)"
                value="{{ audio.readyState === 0 ? 0 : audio.currentTime }}"
                />
            </mat-slider>
            <button mat-icon-button (click)="randomSong()">
                <mat-icon>shuffle</mat-icon>
            </button>
        </mat-toolbar>
    </div>
</div>
