<div mat-dialog-content>
    <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
        <div class="form">
            <label> Select album: </label>
            <mat-form-field>
                <mat-select formControlName="album">
                    <mat-option *ngFor="let album of albums" [value]="album">
                        {{ album.title }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <label> Name artist: </label>
            <mat-form-field>
                <input matInput formControlName="nameArtist" type="text" />
            </mat-form-field>
            <label> Title: </label>
            <mat-form-field>
                <input matInput formControlName="title" type="text" />
            </mat-form-field>
            <label> Song genre: </label>
            <mat-form-field>
                <input matInput formControlName="genre" type="text" />
            </mat-form-field>
            <div>
                <label> Year of release: </label>
                <mat-form-field>
                    <input matInput formControlName="releaseDate" type="number" />
                </mat-form-field>
                <label> Song duration: </label>
                <mat-form-field>
                    <input
                        matInput
                        formControlName="duration"
                        type="text"
                    />
                </mat-form-field>
            </div>

            <label> Link song: </label>
            <mat-form-field>
                <input matInput formControlName="songPath" type="text" />
            </mat-form-field>
        </div>
        <div mat-dialog-actions>
            <button type="submit" mat-button [disabled]="!createForm.valid">
                Save
            </button>
            <button mat-button (click)="closeModal()">Close</button>
        </div>
    </form>
</div>
